.header {
  display: flex;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #d9fff5;
}
.button-menu {
  border-radius: 50%;
  border: 0;
  padding: 0;
  background: #ffffff;
  margin-left: 16px;
}
.logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 16px;
  &::after {
    content: url("../static/divider.svg");
    margin-left: 16px;
  }
}
.logo__link {
  display: block;
  height: 100%;
}

.feedback__list {
  list-style: none;
  display: none;
}
.support {
  margin-left: auto;
}
.support__list {
  list-style: none;
  display: flex;
  padding: 0;
  .support__item {
    margin-right: 16px;
  }
  .support__name-link {
    display: none;
  }
}
.logo__link,
.button-menu,
.feedback__button,
.support__link {
  opacity: 80%;

  &:hover {
    opacity: 100%;
    transform: scale(1.1, 1.1);
  }
}
.support__link {
  display: block;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .logo {
    &::after {
      display: none;
    }
    &::before {
      content: url("../static/divider.svg");
      margin-right: 16px;
    }
  }
  .feedback {
    margin-left: auto;
    display: flex;
    align-items: center;
    &::after {
      content: url("../static/divider.svg");
      margin: 0 16px 0 16px;
    }
  }
  .feedback__list {
    display: flex;
  }
  .feedback__button {
    border-radius: 50%;
    border: 0;
    padding: 0;
    background: #ffffff;
    margin-left: 16px;
  }
  .support {
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .header {
    height: 95px;
  }
  .logo {
    &::before {
      display: none;
    }
    margin: 0;
  }
  .overlay-menu {
    .button-menu,
    .logo,
    .feedback {
      display: none;
    }
  }
  .feedback {
    display: none;
  }
  .support {
    margin-left: auto;
    margin-top: 50px;
  }
  .support__link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: #1b1c21;

    .support__name-link {
      display: block;
      margin: 0 8px 0 0;
    }
  }
}
