.overlay-feedback {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  display: none;
  transition: filter 0.5s;
}
.overlay-feedback--blured {
  background-color: white;
  filter: blur(30px);
  display: block;
  opacity: 90%;
}
