.read-more {
  width: 150px;
  background-color: #f8f8f8;
  border: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  opacity: 80%;

  &:hover {
    opacity: 100%;
    transform: scale(1.1, 1.1);
  }
}
.read-more::before {
  content: url("../static/icon.svg");
  margin-right: 16px;
}
