.read-more {
  width: 150px;
  background-color: white;
  border: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
.read-more::before {
  content: url("../static/icon.svg");
  margin-right: 16px;
}
