$showAllServicesOpenHeight768: 740px;
$showAllServicesOpenHeight1120: 560px;
.section-services__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f8f8f8;
}
.swiper-services-wrapper {
  display: flex;
}
.section-services {
  margin: 0;
  width: 100%;
}
.section-services__header {
  padding: 16px 16px 16px 16px;
  border-top: 1px solid#D9FFF5;
  border-radius: 1px;
  background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
}
.section-services__title {
  margin: 0;

  font-family: TT Lakes;
  font-weight: normal;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  color: #7e7e82;
}
.section-services__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 16px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  position: relative;
}
.section-services__item {
  display: block;
  margin: 0 0 16px 0;
  opacity: 80%;

  &:hover {
    opacity: 100%;
    transform: scale(1.1, 1.1);
  }
}
.section-services__link {
  display: flex;
  padding: 16px 16px;
  align-items: flex-start;
  text-decoration: none;
  height: auto;
  box-sizing: border-box;
  width: 240px;
  height: 160px;
  color: $text;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
.section-services__link::after {
  content: url("../img/go.svg");
  margin-left: auto;
  margin-top: auto;
}
.section-services__paginator {
  top: 205px;
}
.show-all-services {
  display: none;
  background-color: #f8f8f8;
  opacity: 80%;

  &:hover {
    opacity: 100%;
    transform: scale(1.1, 1.1);
  }
}
@media (min-width: 768px) {
  .section-services__content {
    width: 100%;
    &.section-services__content--opened {
      height: $showAllServicesOpenHeight768;
    }
    .section-services__list {
      padding: 0 0 0 24px;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      transition: height 1s;
      &.section-services__list--opened {
        height: $showAllServicesOpenHeight768;
        flex-wrap: wrap;
      }
    }
  }

  .section-services__link {
    width: 224px;
  }
  .section-services__item {
    display: block;
    margin: 0 24px 16px 0;
  }
  .section-services__paginator {
    display: none;
  }
  .show-all-services {
    display: block;
    width: 150px;
    border: 0;
    background-color: #f8f8f8;
    margin: 12px 0 0 32px;

    font-family: TT Lakes;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #000000;
  }
  .show-all-services__arrow--rotate {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    transform: rotate(180deg);
    z-index: 10;
  }
  .show-all-services__arrow {
    margin-right: 16px;
    transition: transform 0.5s;
  }

  .show-all-services__title-hide {
    display: none;
  }
  .show-all-services__title-show {
    &.show-all-services__title-show--hide {
      display: none;
    }
  }
  .show-all-services__title-show {
    display: inline;
  }
}
@media (min-width: 1440px) {
  .section-services {
    width: 78%;
    margin-left: 320px;
  }
  .section-services__content--opened {
    height: $showAllServicesOpenHeight1120;
  }
  .section-services__list {
    padding: 0 0 0 50px;
  }
}
